# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
node_modules

# Build artifacts
dist/leaflet.markercluster*.js
dist/leaflet.markercluster*.js.map
